* {
  margin: 0;
  padding: 0;
  box-shadow: none;
  font-family: sans-serif;
  font-weight: normal;
}

ul {
  list-style: none;
}

input[type=email], input[type=password], input[type=text] {
  padding: 0.2vw;
}

fieldset {
  border-radius: 10px;
}

.hidden {
  display: none;
}

.btn {
  border: 2px solid #000;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.btn-nav:hover {
  box-shadow: 4px 4px 2px #c0c0c0;
  background: none;
}
.btn-nav.active {
  background: #c0c0c0;
}

.btn-valid {
  background: rgba(0, 136, 0, 0.5);
}
.btn-valid:hover {
  box-shadow: 2px 2px 2px #008800;
}

.btn-cancel {
  background: rgba(255, 136, 0, 0.5);
}
.btn-cancel:hover {
  box-shadow: 2px 2px 2px #ff8800;
}

header {
  padding: 1vh 0;
  border-bottom: 2px solid #000;
  margin-bottom: 0.5%;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
header #logo-header {
  display: flex;
  align-items: center;
  font-weight: bold;
}
header #btn-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

main {
  position: relative;
}
main #home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #home-page.hidden {
  display: none;
}
main #home-page #logo-home {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
main #login, main #register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main #login fieldset, main #register fieldset {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1vw;
}
main #login fieldset legend, main #register fieldset legend {
  text-align: center;
  padding: 0.5vw;
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
  border-radius: 50px;
}
main #login fieldset .response, main #register fieldset .response {
  padding: 0.3rem 0;
  border-radius: 50px;
  width: 100%;
  text-align: center;
}
main #login fieldset .response.succes, main #register fieldset .response.succes {
  background: #00ff00;
}
main #login fieldset .response.error, main #register fieldset .response.error {
  background: #ff0000;
  color: #fff;
}
main #login fieldset .element-form, main #register fieldset .element-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main #login fieldset .element-form label, main #register fieldset .element-form label {
  margin-right: 0.5vw;
}
main #login fieldset .button-content, main #register fieldset .button-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}
main #sinistre-content {
  display: flex;
  justify-content: space-around;
}
main #sinistre-content.hidden {
  display: none;
}
main #sinistre-content #form\&info {
  display: flex;
  margin-right: 1%;
}
main #sinistre-content #form\&info form fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main #sinistre-content #form\&info form fieldset legend {
  text-align: center;
  border-radius: 20px;
  border: 1px solid #000;
  padding: 0.5vh;
}
main #sinistre-content #form\&info form fieldset .element-form .btn-file {
  padding: 0.5vh;
  box-shadow: 2px 2px 2px #c0c0c0;
}
main #sinistre-content #form\&info form fieldset .element-form input[type=file] {
  display: none;
}
main #sinistre-content #form\&info form fieldset .button-content {
  display: flex;
  justify-content: space-around;
  width: 90%;
}
main #sinistre-content #form\&info #depanneur-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 50vh;
  overflow: scroll;
}
main #sinistre-content #form\&info #depanneur-content::-webkit-scrollbar {
  background: #c0c0c0;
  width: 0.5vw;
  height: 0;
  border-radius: 50px;
}
main #sinistre-content #form\&info #depanneur-content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 50px;
}
main #sinistre-content #form\&info #depanneur-content legend {
  text-align: center;
  padding: 0.5vh;
  border: 1px solid #000;
  border-radius: 20px;
}
main #sinistre-content #form\&info #depanneur-content #view-depanneur .depanneur-element {
  border-bottom: 1px solid #000;
  margin: 1% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #sinistre-content #form\&info #depanneur-content #view-depanneur .depanneur-element .name {
  display: inline-flex;
}
main #sinistre-content #form\&info #depanneur-content #view-depanneur .depanneur-element .address {
  display: inline-flex;
}
main #sinistre-content #picture-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: scroll;
}
main #sinistre-content #picture-content::-webkit-scrollbar {
  background: #c0c0c0;
  width: 0.5vw;
  height: 0;
  border-radius: 50px;
}
main #sinistre-content #picture-content::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 50px;
}
main #sinistre-content #picture-content legend {
  text-align: center;
  font-size: large;
  border-radius: 50px;
  border: 1px solid #000;
  padding: 0.5vh;
}

@media screen and (min-width: 378px) {
  .btn {
    padding: 1vh;
  }

  header {
    width: 99.1vw;
  }
  header nav #logo-header svg {
    width: 6vw;
  }
  header nav #logo-header h1 {
    font-size: 4vw;
  }
  header nav #btn-nav {
    width: 50%;
  }
  header nav #btn-nav li {
    font-size: 3vw;
  }

  main {
    height: 92.5vh;
  }
  main #home-page #logo-home svg {
    width: 20vw;
  }
  main #home-page #logo-home h1 {
    font-size: 10vw;
  }
  main #home-page .btn {
    font-size: 5vw;
  }
  main #login {
    width: 80%;
  }
  main #login fieldset {
    height: 20vh;
  }
  main #register fieldset {
    height: 30vh;
  }
  main #sinistre-content {
    flex-direction: row;
  }
  main #sinistre-content #form\&info {
    flex-direction: column;
    width: 50%;
  }
  main #sinistre-content #form\&info form fieldset {
    height: 10vh;
  }
  main #sinistre-content #form\&info form fieldset .btn {
    padding: 0.2vh;
  }
  main #sinistre-content #form\&info #depanneur-content {
    max-height: 60vh;
    min-height: 8vh;
  }
  main #sinistre-content #picture-content {
    min-height: 20vh;
    height: 82vh;
    width: 50%;
  }
  main #sinistre-content #picture-content img {
    max-width: 40%;
    max-height: 20%;
  }
}
@media screen and (min-width: 1280px) {
  header {
    width: 100vw;
  }
  header nav #logo-header svg {
    width: 2vw;
  }
  header nav #logo-header h1 {
    font-size: 2vw;
  }
  header nav #btn-nav li {
    font-size: 1vw;
  }

  main {
    height: 92vh;
  }
  main #home-page #logo-home svg {
    width: 10vw;
  }
  main #home-page #logo-home h1 {
    font-size: 5vw;
  }
  main #home-page .btn {
    font-size: 2vw;
  }
  main #login {
    width: 22.2%;
  }
  main #login fieldset {
    width: 20vw;
  }
  main #register {
    width: 25%;
  }
  main #register fieldset {
    height: 30vh;
  }
  main #sinistre-content {
    margin: 0 1%;
  }
  main #sinistre-content #form\&info form {
    width: 100%;
  }
  main #sinistre-content #form\&info form fieldset {
    width: 15vw;
  }
  main #sinistre-content #form\&info #depanneur-content {
    margin-top: 1vh;
  }
  main #sinistre-content #picture-content {
    padding: 0.5vh;
    width: 80vw;
    min-height: 20vh;
    max-height: 90vh;
  }
}

/*# sourceMappingURL=style.css.map */
