<form action="" method="post" id="register">
	<fieldset>
		<legend>Inscription</legend>
		<span>
			<label for="register-nom">Nom</label>
			<input type="text" id="register-nom">
		</span>

		<span>
			<label for="register-prenom">Prénom</label>
			<input type="text" id="register-prenom">
		</span>

		<span>
			<label for="register-email">Email</label>
			<input type="mail" id="register-email">
		</span>

		<span>
			<label for="register-password">Mot de Passe</label>
			<input type="password" id="register-password">
		</span>

		<span>
			<label for="register-confirm-password">Confirmer Mot de Passe</label>
			<input type="password" id="register-confirm-password">
		</span>

		<span>
			<button type="submit">S'inscrire</button>
			<button type="reset">Annuler</button>
		</span>
	</fieldset>
</form>